$bg : #141414;
*{
  padding: 0;
  margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: $bg;
    height: 100vh;
}

.container {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: flex-end;
    canvas {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        width: 70%;
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
    }
    #audio{
        pointer-events: none;
        position: absolute;
    }
  .informations{
    width: 30%;
    height: 100%;
    background: $bg;

  }
}

input {
    border: none;
    color: white;
    margin: 100px auto 0 auto;
    height: 65px;
    width: 600px;
    text-align: center;
    font-size: 50px;
}

.txt-white{
  color: white;
}
